doctype html
html

  head


    //meta charset="UTF-8"
    title Sockets Jade Example
    body

      block content

      script(src="/socket.io/socket.io.js")
      script(src="../libraries/p5.js")
      script(src="../libraries/p5.dom.js")
      script(src="../libraries/p5.sound.js")
      script(src="../javascripts/sketch.js")

