extends layout

block content
  div.container
    header
      h1 A Chat application with Node.js and Socket.io
    input(type='text')#userInput
    button#userSet UserName
    div#chatEntries
    div#chatControls
      input(type='text')#messageInput
      button#submit Send
