<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

    <title>DrawIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Slide Down Box Menu with jQuery and CSS3"/>
    <meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails"/>
    <link rel="shortcut icon" href="../images/ballo.icon" type="image/x-icon"/>
    <link rel="stylesheet" href="../stylesheets/whiteboard.css" type="text/css" media="screen"/>

    <!--Ballo-->
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet prefetch"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/sweetalert.css">
    <link rel="stylesheet" href="../stylesheets/chatStyle.css">
    <!--Ballo-->

    <script src="/socket.io/socket.io.js"></script>
    <script src="../libraries/paperjs/dist/paper-full.js"></script>
    <script src="../javascripts/whiteboard_control.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>


<body>

<div class="content">
    <!--<h1 class="title">Slide Down Box Menu with jQuery and CSS3</h1>-->
    <!--Ballo-->
    <div class="container">
        <div class="chat"style="overflow: visible" id="chatbox">

            <a href="#" id="minmizeChat">

                <div class="chat-title"  >
                    <span class="chat-message-counter" id="countermsg"></span>


                    <figure class="avatar"  id="myColor">
                        <!--<span></span>-->
                    </figure>
                </div>
            </a>
            <div class="messages">
                <div id="messageContent" class="messages-content"></div>
            </div>
            <div class="message-box"id="chattext" style="display: none">
                <textarea type="text" placeholder="Type message..." id="messageInput" class="message-input"></textarea>
                <button type="submit" id="submit" class="message-submit">Send</button>
            </div>
        </div>

    </div>
    <!--Ballo-->

    <ul id="sdt_menu" class="sdt_menu" resize="true">
        <li>
            <a href="#">
                <img src="../images/whiteboard/dark.jpg" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Background</span>
							<span class="sdt_descr">Choose your theme</span>
						</span>
            </a>
            <div class="sdt_box">
                <a href="#" id="dark">Dark</a>
                <a href="#" id="blank">Blank</a>
                <a href="#" id="squared">Squared</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/drawstyle.jpg" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">DrawStyle</span>
							<span class="sdt_descr">Fancy work styles</span>
						</span>
            </a>
            <div class="sdt_box">
                <a href="#" id="brush">Brush</a>
                <a href="#" id="circle">Colored Circles</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/colors.png" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Colors</span>
							<span class="sdt_descr">Brush colors</span>
						</span>
            </a>
            <div class="sdt_box">
                <a href="#" id="black">Black</a>
                <a href="#" id="white">White</a>
                <a href="#" id="red">Red</a>
                <a href="#" id="green">Green</a>
                <a href="#" id="blue">Blue</a>
                <a href="#" id="yellow">Yellow</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/size.png" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Size</span>
							<span class="sdt_descr">Brush size</span>
						</span>
            </a>
            <div class="sdt_box">
                <a href="#" id="xsmall" s>xSmall</a>
                <a href="#" id="small">small</a>
                <a href="#" id="medium">Medium</a>
                <a href="#" id="large">Large</a>
                <a href="#" id="xlarge">xLarge</a>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/undo.png" id="undo" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Undo</span>
							<span class="sdt_descr">Correct your mistakes</span>
						</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/snapshot.jpg" id="snapshot" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Snapshot</span>
							<span class="sdt_descr">Download your drawings</span>
						</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/clear.jpg" id="clearScreen" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
        <span class="sdt_link">Clear screen</span>
        <span class="sdt_descr">Save your work first :")</span>
        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/share.png" id="share" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Share room</span>
							<span class="sdt_descr">Create your own group</span>
                    </span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/user.jpg" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">SignUp/Login</span>
							<span class="sdt_descr">Be a user and</span>
							<span class="sdt_descr">Save your work</span>
						</span>
            </a>
            <div class="sdt_box">


                <a href="#" id="hi"> Hi, <%= userInfo %> </a>

                <a href="/users" id="login" s>Login</a>
                <a href="/users" id="signup">Sign up</a>

                <a href="#" id="logout">Log out</a>

                <script>

                    var uname = "<%= userInfo %>" ;
                    console.log("userrrrrrrr: " +uname);
                    if (uname) {
                        $('#login').hide();
                        $('#signup').hide();
                    }
                    else
                    {
                        $('#hi').hide();
                        $('#logout').hide();
                    }
                </script>

            </div>
        </li>
        <li>
            <a href="#">
                <img src="../images/whiteboard/saveLoad.png" alt=""/>
                <span class="sdt_active"></span>
                <span class="sdt_wrap">
							<span class="sdt_link">Save/Load</span>
							<span class="sdt_descr">Save/Load into/from your account</span>
						</span>
            </a>
            <div class="sdt_box">
                <a href="#" id="save" s>Save</a>
                <a href="#" id="load">Load</a>
            </div>
        </li>
    </ul>


</div>
<div>
    <!--<span class="reference">-->
    <!--<a href="http://tympanus.net/codrops/2010/07/16/slide-down-box-menu/">back to the Codrops Tutorial</a>-->
    <!--<a href="http://www.flickr.com/photos/arcticpuppy/sets/72157622090180990/">Images by tibchris</a>-->
    <!--</span>-->
</div>

<!-- The JavaScript -->

<!--Ballo-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../Templates/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../Templates/chatScript.js"></script>
<!--Ballo-->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../javascripts/menu.js"></script>


<canvas id="myCanvas" resize="true" keepalive="true"></canvas>

<div class="flash"></div>

</body>
</html>